[Unit]
Description=Alibray Python3 backend

[Service]
Restart=always
RuntimeMaxSec=1d
WorkingDirectory=_PWD_
ExecStart=python3 search.py

[Install]
WantedBy=default.target
